# dependencies
*/node_modules
/node_modules
*/.pnp
/.pnp
.pnp.js
node_modules
pnpm-lock.yaml

# testing
/coverage

# database

db.sqlite

# next.js
*/.next/
/.next/
/out/
next-env.d.ts

# production
*/build
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# local env files
.env
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo

# idea files
.idea

#drizzle
drizzle.sqlite


#Moble
# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo

app-example

# generated native folders
/ios

service-account.json

*/android
/android

.vscode
.cursor

*/.cursor

# Build folder (CMake)
build/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile

# Compiled binaries
*.exe
*.out
*.o
*.so
*.a
*.obj

# Editor/IDE files
*.swp
*.swo
*.vscode/
.idea/
*.code-workspace
*.sublime-project
*.sublime-workspace

# Mac OS files
.DS_Store

# Linux thumbnails
*.directory

# Logs and temporary files
*.log
*.tmp

# Data files (optional, if you want to exclude large models)
data/*.tflite
data/*.bin
data/*.h5
data/*.pt
